%h1= @project.name

= link_to 'New Item', new_project_item_path(@project), class: 'btn btn-primary'

.row

  .col-sm-4
    %h2.text-center Backlog

    %ul#items
      - @project.items.backlog.each do |item|
        = render 'items/item', project: @project, item: item

  .col-sm-4
    %h2.text-center Current

    %ul#items
      - @project.items.current.each do |item|
        = render 'items/item', project: @project, item: item

  .col-sm-4
    %h2.text-center Complete

    %ul#items
      - @project.items.completed.each do |item|
        = render 'items/item', project: @project, item: item
