%h1= @project.name

= link_to "New Item", new_project_item_path(@project), class: "btn btn-primary"

%h2 Backlog

%ul#items
  - @project.items.backlog.each do |item|
    %li.story
      .status
        %span.score= item.human_score
        %span= item.assigned_to
      %span.as As a
      %span.who= item.who
      %span.i-want I want
      %span.what= item.what
      %span.so-that so that
      %span.why= item.why
