= simple_form_for [@project, @item], html: { id: 'item-form' } do |f|
  = f.input :item_type, collection: Item.item_types, include_blank: false, label_method: :capitalize
  #story-container
    #story
      .row
        .col-sm-6
          = f.input :who, label: "As a", placeholder: "e.g. accountant", autofocus: true
        .col-sm-6
          = f.input :what, label: "I want", placeholder: "e.g. Quickbooks integration"

      = f.input :why, label: "So that", placeholder: "e.g. I don't have to import CSVs daily"
  #task-container
    #task
      = f.input :title, placeholder: 'What is it?'
  = f.input :description, label: false, placeholder: "Add a description here..."
  = f.input :assignee_id, label: false, collection: User.all
  = f.input :score, collection: Item.score_collection, include_blank: false
  = f.submit "Save", class: "btn btn-primary"
